# Environment variables
.env

# Binary
drink-tracker
server

# Go
*.log
*.out

# IDE
.idea/
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Docker
.dockerignore

# Air
tmp/
build-errors.log

# OS
.DS_Store
Thumbs.db